<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Books App</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<body style="background-color:#4DB6AC;">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LIBRARY</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'admin:index' %}" >Admin</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{%url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<br>
{% block content %}
<div class="card-columns">
	{% for book in shelf %}
	<div class="card" style="width: 18rem;">
  <img class="card-img-top" src = "{{ book.picture.url }}">
	<input type="file" class="{{book.file.url}}" id="customFile" />
  <div class="card-body">
    <h5 class="card-title">{{ book.name }}</h5>
    <p class="card-text">{{ book.describe }}</p>
    <div class="card-footer bg-transparent border-dark">
    	<p class="card-title">{{book.author}}</p>
			<script type='text/javascript'>
			function del(){
				window.alert('are you sure want to delete');
			}
				</script>
    	<center>
		<a href="update/{{book.id}}" class="btn btn-warning" id = '{{book.id}}'>edit</a>
		<a href="delete/{{book.id}}" class="btn btn-danger" id = '{{book.id}}' onclick="del()">delete</a>
	</center>
	</div>
  </div>
</div>
	{% endfor %}
</div>
{% endblock %}

</body>
</html>
